html, body, #app {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #E9E9E9;
}

div#app {
	display: flex;
}

div#container {
	background: #FFF;
	border-radius: 5px;
	display: flex;
	margin: auto;
	width: 800px;
	height: 500px;
}

div#side-nav {
	width: 30%;
  background: #3668B8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 10px 0px 5px -2px #CCC;
  color: #FFF;
  display: flex;
  flex-direction: column;
}

div#side-nav>div#types {
	height: 50%;
	padding: 30px 20px;
}

div#side-nav>div#types>span#app-title {
	font-size: 30px;
  font-weight: 100;
}

div#side-nav>div#types ul {
	list-style-type: none;
	margin-top: 10px;
  padding: 0;
}

div#side-nav>div#types li {
	display: flex;
	cursor: pointer;
}

div#side-nav>div#types li:nth-of-type(1)>span {
  font-size: 22px;
  font-weight: 100;
}

div#side-nav>div#types li:nth-of-type(1)>span:nth-of-type(1) {
	width: 90%;
}

div#side-nav>div#types li span:nth-of-type(1) {
	width: 90%;
  font-size: 16px;
  font-weight: 100;
}

div#content {
	width: 70%;
	display: flex;
	position: relative;
}

div#list {
	width: 100%;
	padding: 10px 20px;
	position: relative;
}

div#list h3 {
	color: #FD8625;
	font-weight: 300;
	border-bottom: 1px solid #EEEEEE;
}

div#items {
  overflow: auto;
  height: 320px;
}

div.item {
	display: flex;
	flex-direction: column;
	padding: 10px 0 20px 0;
  border-bottom: 1px solid #EDEDED;
}

div.item>div:nth-of-type(1) {
	display: flex;
}

div.item>div:nth-of-type(2) {
	display: none;
	flex-direction: column;
	width: 70%;
  padding: 10px 20px;
  background-color: #ECECEC;
}

div.item .details {
	width: 80%;
	display: flex;
	flex-direction: column;
}

div.item .buttons {
	width: 20%;
	display: flex;
}

div.item .title {
	font-size: 16px;
}

div.item .task-date {
	font-size: 11px;
  color: #5e5e5e;
}

div.item .item-actions {
	margin: auto 5px;
	cursor: pointer;
	color: #616161;
	font-size: 30px;
}

div#add-item-container {
	position: absolute;
  top: 80px;
  right: 10px;
	width: 306px;
  height: 310px;
  display: none;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,.2), 0 -3px 8px rgba(0,0,0,.2);
}

div#add-item-container.active {
	display: flex;
	flex-direction: column;
}

div#add-item-container>span {
	font-size: 18px;
	margin-bottom: 10px;
}

div#add-item-container>p,
div.update-container>p {
	display: flex;
}

div#add-item-container>p>label,
div.update-container>p>label {
	margin-right: 10px;
}

div#add-item-container>p>select,
div.update-container>p>select {
	flex: 1;
	border: 1px solid #CCC;
  background: #FFF;
  border-radius: 0;
}

div#add-item-container>p>input,
div.update-container>p>input {
	flex: 1;
	padding: 5px;
}

div#add-item-container>p>textarea,
div.update-container>p>textarea {
	height: 80px;
	border: 1px solid #CCC;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.update-container>p>textarea {
	height: 50px;
}

div#add-item-container>p:nth-of-type(2),
div.update-container>p:nth-of-type(2) {
	flex-direction: column;
}

div#add-item-container>div#message {
	padding: 5px;
	margin: auto;
}

div#add-item-container>div#actions {
	display: flex;
  flex-direction: row-reverse;
}

div#actions>button {
	cursor: pointer;
	color: #212121;
	font-size: 12px;
	font-weight: 400;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
	background-color: #FFF;
	padding: 7px 15px;
	outline: none;
}

div#actions>button:nth-of-type(2) {
	margin: auto 10px;
}

button#add-task {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

div.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-width: 5px;
  border-color: #4285F4 #4285F4 transparent;
  width: 35px;
  height: 35px;
  margin: auto;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

div.loader.absolute {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}







